#groups
  %h4 Grupos de Usuários Ruby no Brasil
  - if @groups.empty?
    .group
      %p Não há Grupos adicionados ainda.
  - else
    - for group in @groups
      .group
        %img{:src => "/images/flags/#{group.location.country_code.downcase}.png"}
        - if group.website.empty?
          %p.name= group.name
        - else
          %p.name<
            %a{:href => group.website}= group.name
        %p= group.location.city rescue nil
  .pagination
    = @groups.pager.to_html('/groups', :size => 5)
  .actions
    %ul
      %li.add Adicione um Grupo
