#groups
  %h4 Ruby User Groups in Europe
  - if @groups.empty?
    .group
      %p There are no Groups added yet.
  - else
    - for group in @groups
      .group
        - if group.website.empty?
          %p= group.name
        - else
          %a{:href => group.website}= group.name
        %p= "#{group.city}, #{group.country.name}"
  .pagination
    = @groups.pager.to_html('/groups', :size => 5)
  .actions
    %ul
      %li.add Add a Group
