#groups
  %h4 latest groups added
  - if @groups.empty?
    .group
      %p There are no Groups added yet.
  - else
    - for group in @groups
      .group
        - if group.website.empty?
          %p= group.name
        - else
          %a{:href => group.website}= group.name
        %p= "#{group.city}, #{group.country.name}"

#events
  %h4 upcoming events
  .event
    %a{:href => '#'} Event #1
    %p City, Country
  .event
    %a{:href => '#'} Event #2
    %p City, Country
  .event
    %a{:href => '#'} Event #3
    %p City, Country
  .event
    %a{:href => '#'} Event #4
    %p City, Country
  .event
    %a{:href => '#'} Event #5
    %p City, Country