#groups
  %h4 latest groups added
  - if @groups.empty?
    .group
      %p There are no Groups added yet.
  - else
    - for group in @groups
      .group
        - if group.website.empty?
          %p= group.name
        - else
          %a{:href => group.website}= group.name
        %p= "#{group.city}, #{group.country.name}"